POSTGRES_HOST=db
POSTGRES_PASSWORD=sample
POSTGRES_USER=tweetgen
POSTGRES_DB=tweetgen

SECRET_KEY=secret
DEBUG=True
TWITTER_API_CONKEY=
TWITTER_API_CONSEC=
BACKEND_HOSTNAME=tweetgen.cordx.net

WEBPAGE_BASE_URL=https://tweetgen.cordx.net
