[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
requests-oauthlib = "*"
gunicorn = "*"
mecab-python3 = "*"
markovify = "*"
django-cors-headers = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
